langchain
unstructured[all-docs]
pydantic
lxml
tiktoken
opencv-python
langchain-google-genai
pillow
pdfminer
pdfminer.six
pillow-heif
pdf2image
faiss-cpu
langchain-community
streamlit
langchain-groq
pandas
pandasai